Repository strolt/strolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint, stroltm/test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swagger
        name: swagger
        entry: make swagger
        files: ^apps/stroltm?/internal/api
        language: system
        types_or: [go]

  # stroltm/ui
  - repo: local
    hooks:
      - id: stroltm/ui/prettier
        name: stroltm/ui/prettier
        entry: prettier --write --list-different --ignore-unknown
        args: [--plugin, "@trivago/prettier-plugin-sort-imports", --config, ./apps/stroltm/ui/.prettierrc, --write]
        language: node
        types: [text]
        files: ^apps/stroltm/ui
        types_or: [javascript, jsx, ts, tsx, css, json]
        additional_dependencies: [prettier@2.8.7, "@trivago/prettier-plugin-sort-imports@4.1.1"]
      - id: stroltm/ui/typescript
        name: stroltm/ui/typescript
        entry: make .lint-stroltm-ui
        language: system
        always_run: true

  # strolt
  - repo: local
    hooks:
      - id: strolt/lint
        name: strolt/lint
        entry: make .lint-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]
        require_serial: true
      - id: strolt/test
        name: strolt/test
        entry: make .test-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]

  # stroltm
  - repo: local
    hooks:
      - id: stroltm/lint
        name: stroltm/lint
        entry: make .lint-stroltm
        language: system
        types: [text]
        files: ^apps/stroltm
        types_or: [go]
        require_serial: true
      - id: stroltm/test
        name: stroltm/test
        entry: make .test-stroltm
        language: system
        types: [text]
        files: ^apps/stroltm
        types_or: [go]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ["--ignore=DL3029", "--ignore=DL3008", "--ignore=DL3018"]

Create CNAME
  CNAME
Due: none

feat(website): add CNAME
  website/static/CNAME
Due: none

fix(website): analytics
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Due: none

Deploy website - based on 4fb7cf62facdbd62ad8e9f63716ac21b6447e379
  404.html
  CNAME
  api/strolt/index.html
  api/stroltm/index.html
  api/stroltp/index.html
  assets/js/main.550f9eeb.js
  assets/js/main.550f9eeb.js.LICENSE.txt
  assets/js/main.b5db4352.js
  docs/category/destination/index.html
  docs/category/notification/index.html
  docs/category/source/index.html
  docs/category/tutorial---basics/index.html
  docs/category/tutorial---extras/index.html
  docs/intro/index.html
  docs/strolt/cli/index.html
  docs/strolt/configuration/drivers/destination/restic/index.html
  docs/strolt/configuration/drivers/index.html
  docs/strolt/configuration/drivers/notification/events/index.html
  docs/strolt/configuration/drivers/notification/slack/index.html
  docs/strolt/configuration/drivers/notification/telegram/index.html
  docs/strolt/configuration/drivers/source/local/index.html
  docs/strolt/configuration/drivers/source/mongodb/index.html
  docs/strolt/configuration/drivers/source/mysql/index.html
  docs/strolt/configuration/drivers/source/pg/index.html
  docs/strolt/configuration/env/index.html
  docs/strolt/configuration/examples/index.html
  docs/strolt/configuration/index.html
  docs/strolt/getting-started/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
Due: none

fix(website): theme
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Due: none

fix(stroltm/ui): favicon
  apps/stroltm/ui/index.html
  apps/stroltm/ui/public/strolt.svg
  apps/stroltm/ui/public/vite.svg
Due: none

fix: readme
  CONTRIBUTING.md
  README.md
Due: none

fix: readme
  CONTRIBUTING.md
  README.md
  website/docusaurus.config.js
Due: none

Deploy website - based on ef1b23b697b9f087c455418b415a6dc4a58a3e7e
  404.html
  api/strolt/index.html
  api/stroltm/index.html
  api/stroltp/index.html
  assets/js/main.57f1bfd0.js
  assets/js/main.5a169cf0.js
  assets/js/main.5a169cf0.js.LICENSE.txt
  docs/category/destination/index.html
  docs/category/notification/index.html
  docs/category/source/index.html
  docs/category/tutorial---basics/index.html
  docs/category/tutorial---extras/index.html
  docs/intro/index.html
  docs/strolt/cli/index.html
  docs/strolt/configuration/drivers/destination/restic/index.html
  docs/strolt/configuration/drivers/index.html
  docs/strolt/configuration/drivers/notification/events/index.html
  docs/strolt/configuration/drivers/notification/slack/index.html
  docs/strolt/configuration/drivers/notification/telegram/index.html
  docs/strolt/configuration/drivers/source/local/index.html
  docs/strolt/configuration/drivers/source/mongodb/index.html
  docs/strolt/configuration/drivers/source/mysql/index.html
  docs/strolt/configuration/drivers/source/pg/index.html
  docs/strolt/configuration/env/index.html
  docs/strolt/configuration/examples/index.html
  docs/strolt/configuration/index.html
  docs/strolt/getting-started/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
Due: none

Deploy website - based on 93511a6e1c6ae6650c5280910a8c2d3bb486d402
  404.html
  assets/js/main.69444b91.js
  assets/js/main.92ce1de2.js
  assets/js/main.92ce1de2.js.LICENSE.txt
  docs/api/strolt/index.html
  docs/api/stroltm/index.html
  docs/api/stroltp/index.html
  docs/contributing/index.html
  docs/index.html
  docs/intro/index.html
  docs/license/index.html
  docs/status/index.html
  docs/strolt/cli/index.html
  docs/strolt/configuration/drivers/destination/restic/index.html
  docs/strolt/configuration/drivers/index.html
  docs/strolt/configuration/drivers/notification/events/index.html
  docs/strolt/configuration/drivers/notification/slack/index.html
  docs/strolt/configuration/drivers/notification/telegram/index.html
  docs/strolt/configuration/drivers/source/local/index.html
  docs/strolt/configuration/drivers/source/mongodb/index.html
  docs/strolt/configuration/drivers/source/mysql/index.html
  docs/strolt/configuration/drivers/source/pg/index.html
  docs/strolt/configuration/env/index.html
  docs/strolt/configuration/examples/index.html
  docs/strolt/configuration/index.html
  docs/strolt/getting-started/index.html
  docs/stroltm/getting-started/index.html
  docs/stroltp/getting-started/index.html
  index.html
Due: none

feat(website): add search
  website/docusaurus.config.js
  website/package.json
Due: none

feat(strolt): init pipe mode
  apps/strolt/e2e/.strolt/local.yml
  apps/strolt/e2e/.strolt/pg.yml
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/local_test.go
  apps/strolt/internal/config/config.go
  apps/strolt/internal/config/loader.go
  apps/strolt/internal/config/types.go
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/restic/backup.go
  apps/strolt/internal/driver/destination/restic/restore.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/driver/source/local/local.go
  apps/strolt/internal/driver/source/mongodb/backup.go
  apps/strolt/internal/driver/source/mongodb/restore.go
  apps/strolt/internal/driver/source/mysql/backup.go
  apps/strolt/internal/driver/source/mysql/restore.go
  apps/strolt/internal/driver/source/pg/pg_dump.go
  apps/strolt/internal/driver/source/pg/pg_restore.go
  apps/strolt/internal/task/backup.go
Due: strolt/lint, strolt/test

fix(strolt): e2e
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/main_test.go
Due: strolt/lint, strolt/test

fix(strolt): pipe mode
  apps/strolt/e2e/.strolt/local.yml
  apps/strolt/e2e/.strolt/pg.yml
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/local_test.go
  apps/strolt/e2e/postgresql_test.go
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/restic/backup.cmd.go
  apps/strolt/internal/driver/destination/restic/backup.go
  apps/strolt/internal/driver/destination/restic/ls.go
  apps/strolt/internal/driver/destination/restic/restore.cmd.go
  apps/strolt/internal/driver/destination/restic/restore.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/driver/source/local/local.go
  apps/strolt/internal/driver/source/mongodb/backup.go
  apps/strolt/internal/driver/source/mongodb/restore.go
  apps/strolt/internal/driver/source/mysql/backup.go
  apps/strolt/internal/driver/source/mysql/restore.go
  apps/strolt/internal/driver/source/pg/config.go
  apps/strolt/internal/driver/source/pg/pg_restore.go
  apps/strolt/internal/driver/source/pg/restore.go
  apps/strolt/internal/driver/source/pg/restore_pg_restore.go
  apps/strolt/internal/driver/source/pg/restore_psql.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/destination.go
  apps/strolt/internal/task/notification.go
  apps/strolt/internal/task/restore.go
  apps/strolt/internal/task/snapshots.go
  apps/strolt/internal/task/source.go
  apps/strolt/internal/task/stats.go
Due: strolt/lint, strolt/test

fix: notifications
  apps/strolt/internal/task/backup.go
Due: strolt/lint, strolt/test

feat(storlt/restic): set host
  apps/strolt/internal/driver/destination/restic/backup.cmd.go
Due: strolt/lint, strolt/test

fix: pipe restore
  apps/strolt/internal/driver/destination/restic/restore.cmd.go
Due: strolt/lint, strolt/test

feat: update Dockerfiles and scripts to use newer base images and improve MySQL client installation
  .golangci.yml
  Makefile
  apps/strolt/cmd/strolt/cmd_config.go
  apps/strolt/e2e/containers_test.go
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/go.mod
  apps/strolt/go.sum
  apps/strolt/internal/driver/source/mysql/config.go
  apps/stroltm/go.mod
  apps/stroltm/go.sum
  apps/stroltp/go.mod
  apps/stroltp/go.sum
  docker/strolt/Dockerfile
  docker/strolt/scripts/tools/mysql.sh
  docker/strolt/scripts/tools/postgresql.sh
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
  website/docusaurus.config.js
Due: strolt/lint, strolt/test

feat(website): migrate to TypeScript and upgrade to Docusaurus v3
  website/README.md
  website/babel.config.js
  website/config/index.js
  website/config/index.ts
  website/docusaurus.config.js
  website/docusaurus.config.ts
  website/package.json
  website/pnpm-lock.yaml
  website/sidebars.ts
  website/src/pages/docs.tsx
  website/src/pages/index.tsx
  website/tsconfig.json
  website/yarn.lock
Due: none

feat: upgrade
  .gitignore
  Makefile
  apps/stroltm/Makefile
  apps/stroltm/ui/package.json
  apps/stroltm/ui/pnpm-lock.yaml
  apps/stroltm/ui/src/components/TagColored/index.tsx
  apps/stroltm/ui/src/layouts/Lk/index.tsx
  apps/stroltm/ui/src/pages/auth/Login/index.tsx
  apps/stroltm/ui/src/pages/auth/Login/style.module.scss
  apps/stroltm/ui/src/pages/auth/Login/styles.css.ts
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/SnapshotList/index.tsx
  apps/stroltm/ui/src/pages/lk/Stats/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupAllButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintNotifications.tsx
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/utils/getSeededHEXColor.ts
  apps/stroltm/ui/src/utils/getTagKey.ts
  apps/stroltm/ui/src/utils/index.ts
  apps/stroltm/ui/vite.config.ts
  apps/stroltm/ui/yarn.lock
  apps/stroltp/Makefile
  docker/stroltm/Dockerfile
  yarn-error.log
Due: stroltm/ui/prettier

feat: upgrade (#19)
  .gitignore
  Makefile
  apps/stroltm/Makefile
  apps/stroltm/ui/package.json
  apps/stroltm/ui/pnpm-lock.yaml
  apps/stroltm/ui/src/components/TagColored/index.tsx
  apps/stroltm/ui/src/layouts/Lk/index.tsx
  apps/stroltm/ui/src/pages/auth/Login/index.tsx
  apps/stroltm/ui/src/pages/auth/Login/style.module.scss
  apps/stroltm/ui/src/pages/auth/Login/styles.css.ts
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/SnapshotList/index.tsx
  apps/stroltm/ui/src/pages/lk/Stats/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupAllButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintNotifications.tsx
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/utils/getSeededHEXColor.ts
  apps/stroltm/ui/src/utils/getTagKey.ts
  apps/stroltm/ui/src/utils/index.ts
  apps/stroltm/ui/vite.config.ts
  apps/stroltm/ui/yarn.lock
  apps/stroltp/Makefile
  docker/stroltm/Dockerfile
  yarn-error.log
Due: stroltm/ui/prettier

fix: fix
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
Due: none

feat: upgrade deps
  apps/stroltm/ui/package.json
  apps/stroltm/ui/pnpm-lock.yaml
  docker/strolt/Dockerfile
  docker/strolt/scripts/install.sh
  docker/strolt/scripts/tools/borgbackup.sh
  docker/strolt/scripts/tools/mongodb.sh
  docker/strolt/scripts/tools/mysql.sh
  docker/strolt/scripts/tools/postgresql.sh
  docker/strolt/scripts/tools/restic.sh
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
Due: stroltm/ui/prettier

fix: fix
  apps/strolt/e2e/containers_test.go
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/main_test.go
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
Due: strolt/lint, strolt/test

fix: fix
  .gitignore
  apps/strolt/e2e/containers_test.go
  apps/strolt/e2e/docker-compose.yml
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/main_test.go
  apps/stroltm/testdata/docker-compose.yml
  docker/strolt/Dockerfile
Due: strolt/lint, strolt/test

fix: fix
  apps/stroltm/ui/eslint.config.js
  apps/stroltm/ui/src/layouts/Lk/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintSchedule.tsx
Due: stroltm/ui/prettier

chore: wip
  .datamitsuignore
  .editorconfig
  .gitleaks.toml
  .oxlintrc.json
  .syncpackrc.json
  .tombi.toml
  .vscode/settings.json
  .yamlfmt.yaml
  apps/strolt/.golangci.yaml
  apps/strolt/.oxlintrc.json
  apps/strolt/eslint.config.js
  apps/strolt/package.json
  apps/stroltm/.golangci.yaml
  apps/stroltm/.oxlintrc.json
  apps/stroltm/eslint.config.js
  apps/stroltm/package.json
  apps/stroltm/ui/.oxlintrc.json
  apps/stroltm/ui/eslint.config.js
  apps/stroltm/ui/src/index.css
  apps/stroltp/.golangci.yaml
  apps/stroltp/.oxlintrc.json
  apps/stroltp/eslint.config.js
  apps/stroltp/package.json
  eslint.config.js
  hadolint.yaml
  package.json
  pnpm-workspace.yaml
  shared/.golangci.yaml
  shared/.oxlintrc.json
  shared/eslint.config.js
  shared/package.json
  website/.oxlintrc.json
  website/eslint.config.js
  website/sidebars.ts
  website/src/css/custom.css
Due: stroltm/ui/prettier

chore: wip
  .datamitsuignore
  .oxlintrc.json
  apps/strolt/.oxlintrc.json
  apps/stroltm/ui/.oxlintrc.json
  apps/stroltm/ui/src/components/Print/TagList/index.tsx
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintDestinations.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintNotifications.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintSchedule.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintUptime.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
  apps/stroltm/ui/src/stores/manager.store/index.ts
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  apps/stroltm/ui/src/utils/getSeededHEXColor.ts
Due: stroltm/ui/prettier

chore: wip
  .datamitsuignore
  apps/strolt/eslint.config.js
  apps/stroltm/eslint.config.js
  apps/stroltm/ui/eslint.config.js
  apps/stroltm/ui/src/utils/getSeededHEXColor.ts
  apps/stroltp/eslint.config.js
  eslint.config.js
  shared/eslint.config.js
  website/eslint.config.js
Due: stroltm/ui/prettier

chore: wip
  .datamitsuignore
  .oxlintrc.json
  .vscode/settings.json
  apps/strolt/.oxlintrc.json
  apps/stroltm/ui/.oxlintrc.json
  apps/stroltm/ui/openapitools.json
  apps/stroltm/ui/tsconfig.json
  apps/stroltm/ui/tsconfig.node.json
  website/docs/strolt/_category_.json
  website/docs/stroltm/_category_.json
  website/docs/stroltp/_category_.json
  website/tsconfig.json
Due: stroltm/ui/prettier

chore: wip
  .pre-commit-config.yaml
  apps/strolt/example/config.yml
Due: none
