Repository strolt/strolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swagger
        name: swagger
        entry: make swagger
        files: ^apps/stroltm?/internal/api
        language: system
        types_or: [go]

  # stroltm/ui
  - repo: local
    hooks:
      - id: stroltm/ui/prettier
        name: stroltm/ui/prettier
        entry: prettier --write --list-different --ignore-unknown
        args: [--plugin, "@trivago/prettier-plugin-sort-imports", --config, ./apps/stroltm/ui/.prettierrc, --write]
        language: node
        types: [text]
        files: ^apps/stroltm/ui
        types_or: [javascript, jsx, ts, tsx, css, json]
        additional_dependencies: [prettier@2.8.1, "@trivago/prettier-plugin-sort-imports@4.0.0"]
      - id: stroltm/ui/typescript
        name: stroltm/ui/typescript
        entry: make .lint-stroltm-ui
        language: system
        always_run: true

  # strolt
  - repo: local
    hooks:
      - id: strolt/lint
        name: strolt/lint
        entry: make .lint-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]
      - id: strolt/test
        name: strolt/test
        entry: make .test-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]

  # stroltm
  - repo: local
    hooks:
      - id: stroltm/lint
        name: stroltm/lint
        entry: make .lint-stroltm
        language: system
        types: [text]
        files: ^apps/stroltm
        types_or: [go]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint

fix(stroltm): start backup all
  apps/stroltm/internal/api/managerh/backup.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat: upgrade deps
  Makefile
  apps/strolt/go.mod
  apps/strolt/go.sum
  apps/stroltm/go.mod
  apps/stroltm/go.sum
  docker/strolt/Dockerfile
  docker/strolt/scripts/tools/mongodb.sh
  docker/strolt/scripts/tools/mysql.sh
  docker/strolt/scripts/tools/postgresql.sh
  docker/strolt/scripts/tools/restic.sh
  docker/stroltm/Dockerfile
  shared/go.mod
  shared/go.sum
Due: none

fix: build platform
  docker/stroltm/Dockerfile
  scripts/get_platform.sh
Due: none

fix: .dockerignore
  .dockerignore
Due: none

feat: upgrade deps
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  apps/strolt/go.mod
  apps/strolt/go.sum
  apps/strolt/internal/config/types.go
  apps/strolt/internal/config/validate.go
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/restic/config.go
  apps/strolt/internal/driver/destination/restic/env.go
  apps/strolt/internal/driver/destination/restic/restic.go
  apps/strolt/internal/driver/source/local/local.go
  apps/strolt/internal/driver/source/mongodb/config.go
  apps/strolt/internal/driver/source/mongodb/env.go
  apps/strolt/internal/driver/source/mysql/config.go
  apps/strolt/internal/driver/source/pg/config.go
  apps/strolt/internal/driver/source/pg/env.go
  apps/strolt/internal/driver/source/pg/pg.go
  apps/strolt/internal/task/task.go
  apps/strolt/internal/template/template.go
  apps/strolt/internal/util/dir/dir.go
  apps/stroltm/go.mod
  apps/stroltm/go.sum
  apps/stroltm/internal/config/config.go
  apps/stroltm/ui/package.json
  apps/stroltm/ui/yarn.lock
  docker/strolt/Dockerfile
  docker/strolt/scripts/tools/borgbackup.sh
  docker/strolt/scripts/tools/mongodb.sh
  docker/strolt/scripts/tools/mysql.sh
  docker/strolt/scripts/tools/postgresql.sh
  docker/strolt/scripts/tools/restic.sh
  docker/stroltm/Dockerfile
  shared/go.mod
  shared/go.sum
  website/package.json
  website/yarn.lock
  yarn-error.log
Due: stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat: init stroltp
  .github/workflows/ci-lint.yml
  Makefile
  apps/stroltm/internal/manager/manager.go
  apps/stroltm/internal/sdk/stroltp/generated/.gitignore
  apps/stroltm/internal/sdk/stroltp/stroltp.go
  apps/stroltm/testdata/docker-compose.yml
  apps/stroltm/testdata/stroltp.yml
  apps/stroltp/.gitignore
  apps/stroltp/cmd/stroltp/root.go
  apps/stroltp/go.mod
  apps/stroltp/go.sum
  apps/stroltp/internal/api/api.go
  apps/stroltp/internal/api/config.go
  apps/stroltp/internal/api/info.go
  apps/stroltp/internal/api/public/public.go
  apps/stroltp/internal/api/services/list.go
  apps/stroltp/internal/api/services/services.go
  apps/stroltp/internal/config/config.go
  apps/stroltp/internal/env/env.go
  apps/stroltp/internal/ldflags/ldflags.go
  apps/stroltp/main.go
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
  website/docusaurus.config.js
Due: strolt/lint, strolt/test, stroltm/lint

feat: add vscode workspace
  strolt.code-workspace
Due: none

feat(stroltm/ui): add generate tag color
  apps/stroltm/ui/src/components/TagColored/index.tsx
  apps/stroltm/ui/src/components/index.ts
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/SnapshotList/index.tsx
  apps/stroltm/ui/src/utils/getSeededHEXColor.ts
  apps/stroltm/ui/src/utils/index.ts
Due: stroltm/ui/prettier

feat(stroltm/ui): add task list page
  apps/stroltm/ui/package.json
  apps/stroltm/ui/src/boot/routes/constants.ts
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/components/LatestVersionLink/index.tsx
  apps/stroltm/ui/src/components/Print/Boolean/index.tsx
  apps/stroltm/ui/src/components/Print/TagList/index.tsx
  apps/stroltm/ui/src/components/Print/Text/index.tsx
  apps/stroltm/ui/src/components/Print/index.ts
  apps/stroltm/ui/src/components/Table/index.tsx
  apps/stroltm/ui/src/components/TagColored/index.tsx
  apps/stroltm/ui/src/components/index.ts
  apps/stroltm/ui/src/layouts/Lk/index.tsx
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupAllButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintDestinations.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintNotifications.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintSchedule.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintVersion.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
  apps/stroltm/ui/src/pages/lk/index.ts
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/stores/manager.store/index.ts
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  apps/stroltm/ui/src/utils/getTagKey.ts
  apps/stroltm/ui/src/utils/index.ts
  apps/stroltm/ui/yarn.lock
Due: stroltm/ui/prettier

feat(stroltm/ui): setup dark mode
  apps/stroltm/ui/src/boot/App.tsx
  apps/stroltm/ui/src/boot/ThemeProvider.tsx
  apps/stroltm/ui/src/components/TagColored/index.tsx
  apps/stroltm/ui/src/layouts/Lk/index.tsx
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupAllButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupButton.tsx
  apps/stroltm/ui/src/stores/app-config.store.ts
  apps/stroltm/ui/src/utils/storage.ts
Due: stroltm/ui/prettier

feat(stroltm/ui): add uptime column for task list table
  apps/stroltm/ui/package.json
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintUptime.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  apps/stroltm/ui/yarn.lock
Due: stroltm/ui/prettier

fix: api model names
  .go-swagger/templates/schema.gotmpl
  .go-swagger/templates/schemabody.gotmpl
  apps/strolt/internal/api/config.go
  apps/strolt/internal/api/info.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/sctxt/event.go
  apps/strolt/internal/sctxt/operation.go
  apps/strolt/internal/sctxt/trigger.go
  apps/strolt/internal/task/manager.go
  apps/stroltm/internal/api/info.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/SnapshotList/index.tsx
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/stores/manager.store/index.ts
  apps/stroltp/internal/api/info.go
  apps/stroltp/internal/api/managerh/snapshots.go
  shared/sdk/common/manager.go
  shared/sdk/strolt/manager.go
  shared/sdk/strolt/manager.info.go
  shared/sdk/strolt/manager.types.go
  shared/sdk/stroltp/manager.info.go
  shared/sdk/stroltp/manager.types.go
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix(api): getInstances types
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/stores/manager.store/index.ts
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  apps/stroltp/internal/api/managerh/managerh.go
  shared/sdk/common/manager_prepared_instance.go
  shared/sdk/strolt/manager.go
  shared/sdk/stroltp/manager.go
  shared/sdk/stroltp/manager.types.go
  shared/sdk/stroltp/manager.watch.go
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix: ci
  .github/workflows/ci-build-strolt.yml
  .github/workflows/ci-lint.yml
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
Due: none

feat: add proxy get stats endpoint
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/ui/src/boot/routes/constants.ts
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/pages/lk/Stats/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintDestinations.tsx
  apps/stroltm/ui/src/stores/manager.store/index.ts
  apps/stroltp/internal/api/managerh/managerh.go
  apps/stroltp/internal/api/managerh/stats.go
  shared/sdk/stroltp/stroltp.go
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix(stroltm): api tags
  apps/stroltm/internal/api/managerh/backup.go
  apps/stroltm/internal/api/managerh/backup.proxy.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/api/managerh/prune.go
  apps/stroltm/internal/api/managerh/snapshots.go
  apps/stroltm/internal/api/managerh/stats.go
  apps/stroltm/ui/src/api/index.ts
  apps/stroltm/ui/src/stores/manager.store/index.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat: add proxy prune endpoints
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/api/managerh/prune.direct.go
  apps/stroltm/internal/api/managerh/prune.proxy.go
  apps/stroltm/ui/src/boot/routes/constants.ts
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintDestinations.tsx
  apps/stroltm/ui/src/stores/manager.store/index.ts
  apps/stroltp/internal/api/managerh/managerh.go
  apps/stroltp/internal/api/managerh/prune.go
  shared/sdk/stroltp/stroltp.go
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix: update online status
  apps/stroltm/ui/src/pages/lk/TaskList/components/BackupButton.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/components/PrintUptime.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  shared/sdk/strolt/manager.info.go
  shared/sdk/stroltp/manager.info.go
Due: stroltm/ui/prettier

fix: ci
  .github/workflows/ci-lint.yml
Due: none

fix(shared): lint error
  shared/sdk/stroltp/manager.info.go
Due: none

fix(stroltm/ui): count proxy instances
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
Due: stroltm/ui/prettier

fix(stroltm/ui): calc uptime
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
Due: stroltm/ui/prettier

fix(stroltm/ui): default sort task list table
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
Due: stroltm/ui/prettier

fix: work with timezone
  apps/strolt/internal/config/loader.go
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
  shared/utils/time.go
Due: stroltm/ui/prettier, strolt/lint, strolt/test

fix(stroltm): visible offline stroltp instances
  shared/sdk/stroltp/manager.go
Due: none

fix(stroltm/ui): render empty tag list in task list table
  apps/stroltm/ui/src/components/Print/TagList/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
Due: stroltm/ui/prettier

fix: build
  Makefile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
Due: none

fix: build
  scripts/get_platform.sh
Due: none

fix: build
  Makefile
Due: none

feat: upgrade docker base images
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
Due: none

fix: website
  website/docusaurus.config.js
  website/i18n/ru/code.json
  website/i18n/ru/docusaurus-plugin-content-docs/current.json
  website/i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/cli.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/configuration.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/destination/_category_.json
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/destination/restic.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/drivers.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/notification/_category_.json
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/notification/events.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/notification/slack.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/notification/telegram.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/source/_category_.json
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/source/local.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/source/mongodb.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/source/mysql.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/drivers/source/pg.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/env.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/configuration/examples.md
  website/i18n/ru/docusaurus-plugin-content-docs/current/strolt/getting-started.md
  website/i18n/ru/docusaurus-theme-classic/footer.json
  website/i18n/ru/docusaurus-theme-classic/navbar.json
  website/package.json
  website/yarn.lock
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

fix: README.md
  README.md
Due: none

feat: add logo
  README.md
  website/static/img/favicon.ico
  website/static/img/logo.svg
Due: none

Deploy website - based on 59bc7c47c430010c20f1bc54fd294fc8e3b234f5
  CNAME
  img/favicon.ico
  img/logo.svg
Due: none
