Repository strolt/strolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint, stroltm/test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swagger
        name: swagger
        entry: make swagger
        files: ^apps/stroltm?/internal/api
        language: system
        types_or: [go]

  # stroltm/ui
  - repo: local
    hooks:
      - id: stroltm/ui/prettier
        name: stroltm/ui/prettier
        entry: prettier --write --list-different --ignore-unknown
        args: [--plugin, "@trivago/prettier-plugin-sort-imports", --config, ./apps/stroltm/ui/.prettierrc, --write]
        language: node
        types: [text]
        files: ^apps/stroltm/ui
        types_or: [javascript, jsx, ts, tsx, css, json]
        additional_dependencies: [prettier@2.8.7, "@trivago/prettier-plugin-sort-imports@4.1.1"]
      - id: stroltm/ui/typescript
        name: stroltm/ui/typescript
        entry: make .lint-stroltm-ui
        language: system
        always_run: true

  # strolt
  - repo: local
    hooks:
      - id: strolt/lint
        name: strolt/lint
        entry: make .lint-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]
        require_serial: true
      - id: strolt/test
        name: strolt/test
        entry: make .test-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]

  # stroltm
  - repo: local
    hooks:
      - id: stroltm/lint
        name: stroltm/lint
        entry: make .lint-stroltm
        language: system
        types: [text]
        files: ^apps/stroltm
        types_or: [go]
        require_serial: true
      - id: stroltm/test
        name: stroltm/test
        entry: make .test-stroltm
        language: system
        types: [text]
        files: ^apps/stroltm
        types_or: [go]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ["--ignore=DL3029", "--ignore=DL3008", "--ignore=DL3018"]

chore: wip
  .github/workflows/ci-lint.yml
  AGENTS.md
  apps/strolt/cmd/strolt/cmd_start.go
  apps/strolt/go.mod
  apps/strolt/go.sum
  apps/strolt/internal/task/notification.go
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltm/go.mod
  apps/stroltm/go.sum
  apps/stroltm/internal/api/managerh/backup.go
  apps/stroltp/cmd/stroltp/root.go
  apps/stroltp/go.mod
  apps/stroltp/go.sum
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
  docker/stroltp/Dockerfile
  shared/go.mod
  shared/go.sum
  shared/logger/format.go
  shared/logger/logger.go
Due: swagger, strolt/lint, strolt/test, stroltm/lint, stroltm/test

refactor: replace docker CLI exec with testcontainers native exec
  AGENTS.md
  Makefile
  apps/strolt/e2e/containers_test.go
  apps/strolt/e2e/docker-compose.yml
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/fs_test.go
  apps/strolt/e2e/local_test.go
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/mariadb_test.go
  apps/strolt/e2e/mongo_test.go
  apps/strolt/e2e/mysql_test.go
  apps/strolt/e2e/postgresql_test.go
  apps/strolt/e2e/prune_test.go
  apps/strolt/go.mod
  apps/strolt/go.sum
Due: strolt/lint, strolt/test

feat(e2e): add GitHub Actions workflow to run e2e suite on pull requests and main branch pushes
  .github/workflows/ci-e2e.yml
  AGENTS.md
  apps/strolt/cmd/strolt/cmd_root.go
  apps/strolt/cmd/strolt/cmd_start.go
  apps/strolt/e2e/.strolt/daemon.yml
  apps/strolt/e2e/.strolt/mariadb.yml
  apps/strolt/e2e/.strolt/mongo.yml
  apps/strolt/e2e/.strolt/mysql.yml
  apps/strolt/e2e/.strolt/negative-config.yml
  apps/strolt/e2e/containers_test.go
  apps/strolt/e2e/daemon_test.go
  apps/strolt/e2e/fs_test.go
  apps/strolt/e2e/local_test.go
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/mariadb_test.go
  apps/strolt/e2e/mongo_test.go
  apps/strolt/e2e/mysql_test.go
  apps/strolt/e2e/negative_test.go
  apps/strolt/e2e/postgresql_test.go
  apps/strolt/e2e/sql_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/go.mod
  apps/strolt/go.sum
  apps/strolt/internal/driver/source/mysql/config.go
  apps/strolt/internal/driver/source/mysql/config_test.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/restore.go
  docker/strolt/Dockerfile
  website/docs/strolt/configuration/drivers/source/mysql.md
Due: strolt/lint, strolt/test

test(e2e): add retention time-bucket e2e test with backdated restic snapshots
  apps/strolt/e2e/.strolt/retention.yml
  apps/strolt/e2e/docker_test.go
  apps/strolt/e2e/local_test.go
  apps/strolt/e2e/prune_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/internal/driver/destination/restic/config_test.go
  apps/strolt/internal/driver/destination/restic/forget_test.go
Due: strolt/lint, strolt/test

chore: replace pre-commit with lefthook for git hook management
  .pre-commit-config.yaml
  CONTRIBUTING.md
  lefthook.yaml
Due: none

fix(hooks): exclude lockfiles from large-file pre-commit check
  lefthook.yaml
Due: none

feat(stroltm): migrate ui to vite 8 with react compiler and update frontend deps
  .github/workflows/ci-lint.yml
  AGENTS.md
  Makefile
  apps/stroltm/ui/openapitools.json
  apps/stroltm/ui/package.json
  apps/stroltm/ui/pnpm-lock.yaml
  apps/stroltm/ui/pnpm-workspace.yaml
  apps/stroltm/ui/src/boot/App.tsx
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/components/DebugJSON/index.tsx
  apps/stroltm/ui/src/components/Link/index.tsx
  apps/stroltm/ui/src/pages/lk/TaskList/index.tsx
  apps/stroltm/ui/src/stores/manager.store/taskList.ts
  apps/stroltm/ui/src/utils/getSeededHEXColor.ts
  apps/stroltm/ui/src/utils/getTagKey.ts
  apps/stroltm/ui/tsconfig.json
  apps/stroltm/ui/tsconfig.node.json
  apps/stroltm/ui/vite.config.ts
  docker/stroltm/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: stroltm/ui/prettier

fix(ci): run golangci-lint v2 against per-module configs
  .github/workflows/ci-lint.yml
  Makefile
Due: none

fix(docker): build stroltm ui and swagger stages on the host platform
  AGENTS.md
  docker/stroltm/Dockerfile
Due: none

fix(docker): build stroltm ui and swagger stages on the host platform (#31)
  AGENTS.md
  docker/stroltm/Dockerfile
Due: none

fix(strolt): stop leaking credentials via logs
  apps/strolt/internal/driver/destination/restic/init.go
  apps/strolt/internal/driver/notification/email/email.go
  apps/strolt/internal/env/env.go
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltp/cmd/stroltp/root.go
Due: strolt/lint, strolt/test, stroltm/lint, stroltm/test

fix(strolt): harden telegram and slack notification drivers
  apps/strolt/internal/driver/notification/notifyutil/notifyutil.go
  apps/strolt/internal/driver/notification/slack/slack.go
  apps/strolt/internal/driver/notification/telegram/telegram.go
  apps/strolt/internal/driver/notification/telegram/template.go
Due: strolt/lint, strolt/test

feat(strolt): add raw webhook notification driver
  apps/strolt/internal/dmanager/notification.go
  apps/strolt/internal/driver/notification/webhook/webhook.go
Due: strolt/lint, strolt/test

fix(strolt): fail restores loudly on database errors
  apps/strolt/internal/driver/source/local/local.go
  apps/strolt/internal/driver/source/mysql/config.go
  apps/strolt/internal/driver/source/mysql/restore.go
  apps/strolt/internal/driver/source/pg/config.go
  apps/strolt/internal/driver/source/pg/restore_psql.go
Due: strolt/lint, strolt/test

fix(strolt): scope notification waitgroup per task and fix start race
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/manager.go
  apps/strolt/internal/task/notification.go
  apps/strolt/internal/task/prune.go
  apps/strolt/internal/task/task.go
Due: strolt/lint, strolt/test

fix(sdk): allow https scheme for strolt and stroltp clients
  shared/sdk/strolt/strolt.go
  shared/sdk/stroltp/stroltp.go
Due: none

fix: credential leaks, silent restore data-loss, task races; add webhook driver (#32)
  apps/strolt/internal/dmanager/notification.go
  apps/strolt/internal/driver/destination/restic/init.go
  apps/strolt/internal/driver/notification/email/email.go
  apps/strolt/internal/driver/notification/notifyutil/notifyutil.go
  apps/strolt/internal/driver/notification/slack/slack.go
  apps/strolt/internal/driver/notification/telegram/telegram.go
  apps/strolt/internal/driver/notification/telegram/template.go
  apps/strolt/internal/driver/notification/webhook/webhook.go
  apps/strolt/internal/driver/source/local/local.go
  apps/strolt/internal/driver/source/mysql/config.go
  apps/strolt/internal/driver/source/mysql/restore.go
  apps/strolt/internal/driver/source/pg/config.go
  apps/strolt/internal/driver/source/pg/restore_psql.go
  apps/strolt/internal/env/env.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/manager.go
  apps/strolt/internal/task/notification.go
  apps/strolt/internal/task/prune.go
  apps/strolt/internal/task/task.go
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltp/cmd/stroltp/root.go
  shared/sdk/strolt/strolt.go
  shared/sdk/stroltp/stroltp.go
Due: strolt/lint, strolt/test, stroltm/lint, stroltm/test

build(deps): upgrade @shibanet0/datamitsu-config to 0.1.7 in stroltm ui
  apps/stroltm/ui/pnpm-lock.yaml
  apps/stroltm/ui/pnpm-workspace.yaml
Due: none

fix(strolt): parse restic stats output with a progress line
  apps/strolt/internal/driver/destination/restic/stats.go
  apps/strolt/internal/driver/destination/restic/stats_test.go
Due: strolt/lint, strolt/test

feat(strolt): report destination stats for piped backups
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/restic/backup.go
  apps/strolt/internal/driver/destination/restic/backup_test.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/sctxt/backup.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/backup_test.go
  apps/strolt/internal/template/template.go
  apps/strolt/internal/template/template_test.go
Due: strolt/lint, strolt/test

fix(strolt): parse restic stats output with a progress line (#34)
  apps/strolt/internal/driver/destination/restic/stats.go
  apps/strolt/internal/driver/destination/restic/stats_test.go
Due: strolt/lint, strolt/test

feat(strolt): report destination stats for piped backups (#33)
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/restic/backup.go
  apps/strolt/internal/driver/destination/restic/backup_test.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/sctxt/backup.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/backup_test.go
  apps/strolt/internal/template/template.go
  apps/strolt/internal/template/template_test.go
Due: strolt/lint, strolt/test

feat(strolt): add forget and unlock commands
  AGENTS.md
  apps/strolt/cmd/strolt/cmd_forget.go
  apps/strolt/cmd/strolt/cmd_unlock.go
  apps/strolt/e2e/.strolt/forget.yml
  apps/strolt/e2e/forget_test.go
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/local/local_test.go
  apps/strolt/internal/driver/destination/restic/config.go
  apps/strolt/internal/driver/destination/restic/config_test.go
  apps/strolt/internal/driver/destination/restic/forget.go
  apps/strolt/internal/driver/destination/restic/forget_test.go
  apps/strolt/internal/driver/destination/restic/prune.go
  apps/strolt/internal/driver/destination/restic/unlock.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/sctxt/operation.go
  apps/strolt/internal/task/forget.go
  apps/strolt/internal/task/unlock.go
  website/docs/strolt/cli.md
Due: strolt/lint, strolt/test

feat(strolt): make the restic driver tunable
  AGENTS.md
  apps/strolt/e2e/.strolt/tuning.yml
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/e2e/tuning_test.go
  apps/strolt/internal/driver/destination/restic/backup.cmd.go
  apps/strolt/internal/driver/destination/restic/backup.cmd_test.go
  apps/strolt/internal/driver/destination/restic/config.go
  apps/strolt/internal/driver/destination/restic/config_test.go
  apps/strolt/internal/driver/destination/restic/env.go
  apps/strolt/internal/driver/destination/restic/env_test.go
  apps/strolt/internal/driver/destination/restic/restore.cmd.go
  apps/strolt/internal/driver/destination/restic/restore.cmd_test.go
  website/docs/strolt/configuration/drivers/destination/restic.md
Due: strolt/lint, strolt/test

feat(strolt): add forget and unlock commands (#35)
  AGENTS.md
  apps/strolt/cmd/strolt/cmd_forget.go
  apps/strolt/cmd/strolt/cmd_unlock.go
  apps/strolt/e2e/.strolt/forget.yml
  apps/strolt/e2e/forget_test.go
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/local/local_test.go
  apps/strolt/internal/driver/destination/restic/config.go
  apps/strolt/internal/driver/destination/restic/config_test.go
  apps/strolt/internal/driver/destination/restic/forget.go
  apps/strolt/internal/driver/destination/restic/forget_test.go
  apps/strolt/internal/driver/destination/restic/prune.go
  apps/strolt/internal/driver/destination/restic/unlock.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/sctxt/operation.go
  apps/strolt/internal/task/forget.go
  apps/strolt/internal/task/unlock.go
  website/docs/strolt/cli.md
Due: strolt/lint, strolt/test

feat(strolt): make the restic driver tunable (#36)
  AGENTS.md
  apps/strolt/e2e/.strolt/tuning.yml
  apps/strolt/e2e/main_test.go
  apps/strolt/e2e/strolt.yml
  apps/strolt/e2e/tuning_test.go
  apps/strolt/internal/driver/destination/restic/backup.cmd.go
  apps/strolt/internal/driver/destination/restic/backup.cmd_test.go
  apps/strolt/internal/driver/destination/restic/config.go
  apps/strolt/internal/driver/destination/restic/config_test.go
  apps/strolt/internal/driver/destination/restic/env.go
  apps/strolt/internal/driver/destination/restic/env_test.go
  apps/strolt/internal/driver/destination/restic/restore.cmd.go
  apps/strolt/internal/driver/destination/restic/restore.cmd_test.go
  website/docs/strolt/configuration/drivers/destination/restic.md
Due: strolt/lint, strolt/test
