Repository strolt/strolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swagger
        name: swagger
        entry: make swagger
        files: ^apps/stroltm?/internal/api
        language: system
        types_or: [go]

  # stroltm/ui
  - repo: local
    hooks:
      - id: stroltm/ui/prettier
        name: stroltm/ui/prettier
        entry: prettier --write --list-different --ignore-unknown
        args: [--plugin, "@trivago/prettier-plugin-sort-imports", --config, ./apps/stroltm/ui/.prettierrc, --write]
        language: node
        types: [text]
        files: ^apps/stroltm/ui
        types_or: [javascript, jsx, ts, tsx, css, json]
        additional_dependencies: [prettier@2.8.1, "@trivago/prettier-plugin-sort-imports@4.0.0"]
      - id: stroltm/ui/typescript
        name: stroltm/ui/typescript
        entry: make .lint-stroltm-ui
        language: system
        always_run: true

  # strolt
  - repo: local
    hooks:
      - id: strolt/lint
        name: strolt/lint
        entry: make .lint-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]
      - id: strolt/test
        name: strolt/test
        entry: make .test-strolt
        language: system
        types: [text]
        files: ^apps/strolt
        types_or: [go]

  # stroltm
  - repo: local
    hooks:
      - id: stroltm/lint
        name: stroltm/lint
        entry: make .lint-stroltm
        language: system
        types: [text]
        files: ^apps/stroltm
        types_or: [go]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint

fix: ci
  .github/workflows/ci-build-strolt.yml
  .github/workflows/ci-lint.yml
Due: none

fix: ci
  .github/workflows/ci-build-strolt.yml
Due: none

feat(stroltm/ui): add snapshot list page
  apps/stroltm/testdata/.dockerignore
  apps/stroltm/testdata/docker-compose.yml
  apps/stroltm/testdata/strolt.yml
  apps/stroltm/ui/src/boot/routes/constants.ts
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/components/Print/Time/index.tsx
  apps/stroltm/ui/src/components/Print/index.ts
  apps/stroltm/ui/src/components/index.ts
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/SnapshotList/index.tsx
  apps/stroltm/ui/src/pages/lk/index.ts
Due: stroltm/ui/prettier

feat(stroltm/ui): add prune page
  apps/stroltm/ui/src/boot/routes/constants.ts
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Prune/index.tsx
  apps/stroltm/ui/src/pages/lk/index.ts
Due: stroltm/ui/prettier

feat(stroltm/api): add method for backup all
  apps/stroltm/internal/api/managerh/backup.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/stores/auth.store.ts
  apps/stroltm/ui/src/stores/manager.store.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat(stroltm): add login form
  apps/stroltm/internal/api/api.go
  apps/stroltm/internal/api/instances/instances.go
  apps/stroltm/ui/package.json
  apps/stroltm/ui/src/api/index.ts
  apps/stroltm/ui/src/layouts/Auth/index.tsx
  apps/stroltm/ui/src/pages/auth/Login/index.tsx
  apps/stroltm/ui/src/pages/auth/Login/style.module.scss
  apps/stroltm/ui/yarn.lock
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat(strolt/api): add info endpoint
  Makefile
  apps/strolt/internal/api/api.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/manager/manager.go
  apps/stroltm/internal/manager/watch.go
  apps/stroltm/internal/sdk/strolt/strolt.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat(stroltm): setup docker build
  .dockerignore
  Makefile
  apps/strolt/e2e/docker-compose.yml
  apps/stroltm/internal/ldflags/ldflags.go
  apps/stroltm/testdata/docker-compose.yml
  apps/stroltm/testdata/stroltm.yml
  apps/stroltm/ui/.dockerignore
  apps/stroltm/ui/src/env/index.ts
  docker/stroltm/Dockerfile
Due: stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

feat(stroltm): setup cli
  .pre-commit-config.yaml
  Makefile
  apps/stroltm/Makefile
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltm/go.mod
  apps/stroltm/go.sum
  apps/stroltm/internal/config/config.go
  apps/stroltm/main.go
  apps/stroltm/testdata/docker-compose.yml
  docker/stroltm/Dockerfile
Due: strolt/lint, strolt/test, stroltm/lint

fix(stroltm): build docker
  .dockerignore
  docker/stroltm/Dockerfile
Due: none

fix: ci
  Makefile
  docker/stroltm/Dockerfile
Due: none

feat: add stats command
  apps/strolt/cmd/strolt/stats.go
  apps/strolt/internal/api/services/services.go
  apps/strolt/internal/api/services/stats.go
  apps/strolt/internal/driver/destination/local/local.go
  apps/strolt/internal/driver/destination/restic/restic.go
  apps/strolt/internal/driver/destination/restic/stats.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/task/controller.go
  apps/strolt/internal/task/stats.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/api/managerh/stats.go
  apps/stroltm/internal/sdk/strolt/strolt.go
  apps/stroltm/ui/src/boot/routes/constants.ts
  apps/stroltm/ui/src/boot/routes/index.tsx
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/pages/lk/Stats/index.tsx
  apps/stroltm/ui/src/pages/lk/index.ts
  apps/stroltm/ui/src/stores/manager.store.ts
  apps/stroltm/ui/src/utils/index.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix: api
  apps/strolt/cmd/strolt/backup.go
  apps/strolt/cmd/strolt/prune.go
  apps/strolt/cmd/strolt/stats.go
  apps/strolt/internal/api/services/backup.go
  apps/strolt/internal/api/services/prune.go
  apps/strolt/internal/api/services/stats.go
  apps/strolt/internal/config/loader.go
  apps/strolt/internal/context/context.go
  apps/strolt/internal/driver/destination/restic/backup.go
  apps/strolt/internal/driver/destination/restic/snapshots.go
  apps/strolt/internal/driver/interfaces/interfaces.go
  apps/strolt/internal/schedule/backup.go
  apps/strolt/internal/schedule/notifications.go
  apps/strolt/internal/schedule/prune.go
  apps/strolt/internal/schedule/schedule.go
  apps/strolt/internal/schedule/task.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/notification.go
  apps/strolt/internal/task/prune.go
  apps/strolt/internal/task/stats.go
  apps/strolt/internal/task/task.go
  apps/strolt/internal/template/template.go
  apps/strolt/internal/template/template_test.go
  apps/stroltm/testdata/.gitignore
  apps/stroltm/testdata/strolt.yml
  apps/stroltm/ui/src/pages/lk/Stats/index.tsx
  apps/stroltm/ui/src/utils/index.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test

fix(stroltm): build docker image
  .github/workflows/ci-build-strolt.yml
  docker/stroltm/Dockerfile
Due: none

fix(strolt): build docker image
  docker/strolt/scripts/install.sh
  docker/strolt/scripts/tools/borgbackup.sh
  docker/strolt/scripts/tools/mongodb.sh
  docker/strolt/scripts/tools/mysql.sh
  docker/strolt/scripts/tools/postgresql.sh
  docker/strolt/scripts/tools/restic.sh
Due: none

fix: api logging
  apps/strolt/internal/api/api.go
  apps/strolt/internal/metrics/metrics.go
  apps/stroltm/internal/api/api.go
  shared/apiu/logger.go
Due: swagger, strolt/lint, strolt/test, stroltm/lint

fix(strolt): delete unused file
  apps/strolt/server/server.go
Due: strolt/lint, strolt/test

fix: Dockerfile's
  docker/strolt/Dockerfile
  docker/strolt/scripts/install.sh
  docker/stroltm/Dockerfile
Due: none

fix(strolt): cli
  apps/strolt/cmd/strolt/backup.go
  apps/strolt/cmd/strolt/cli_config.go
  apps/strolt/cmd/strolt/cmd.go
  apps/strolt/cmd/strolt/cmd_backup.go
  apps/strolt/cmd/strolt/cmd_config.go
  apps/strolt/cmd/strolt/cmd_init.go
  apps/strolt/cmd/strolt/cmd_prune.go
  apps/strolt/cmd/strolt/cmd_restore.go
  apps/strolt/cmd/strolt/cmd_root.go
  apps/strolt/cmd/strolt/cmd_snapshots.go
  apps/strolt/cmd/strolt/cmd_start.go
  apps/strolt/cmd/strolt/cmd_stats.go
  apps/strolt/cmd/strolt/cmd_version.go
  apps/strolt/cmd/strolt/print.go
  apps/strolt/cmd/strolt/prompt.go
  apps/strolt/cmd/strolt/prune.go
  apps/strolt/cmd/strolt/restore.go
  apps/strolt/cmd/strolt/root.go
  apps/strolt/cmd/strolt/snapshots.go
  apps/strolt/cmd/strolt/stats.go
  apps/strolt/internal/env/env.go
  apps/strolt/internal/util/spinner.go
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltm/internal/env/env.go
  docker/strolt/Dockerfile
  shared/logger/logger.go
Due: strolt/lint, strolt/test, stroltm/lint

fix: lock on task start
  apps/strolt/internal/api/public/public.go
  apps/strolt/internal/api/services/backup.go
  apps/strolt/internal/api/services/prune.go
  apps/strolt/internal/api/services/snapshots.go
  apps/strolt/internal/api/services/stats.go
  apps/strolt/internal/api/services/status.go
  apps/strolt/internal/schedule/schedule.go
  apps/strolt/internal/sctxt/operation.go
  apps/strolt/internal/task/backup.go
  apps/strolt/internal/task/manager.go
  apps/strolt/internal/task/prune.go
  apps/strolt/internal/task/restore.go
  apps/strolt/internal/task/snapshots.go
  apps/strolt/internal/task/stats.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/api/managerh/status.go
  apps/stroltm/internal/manager/manager.go
  apps/stroltm/internal/manager/watch.go
  apps/stroltm/internal/sdk/strolt/strolt.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/stores/manager.store.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix(api): log
  apps/strolt/internal/api/api.go
  apps/strolt/internal/api/info.go
  apps/strolt/internal/api/public/public.go
  apps/strolt/internal/env/env.go
  apps/stroltm/Makefile
  apps/stroltm/internal/api/api.go
  apps/stroltm/internal/api/public/public.go
  apps/stroltm/internal/env/env.go
  apps/stroltm/internal/manager/watch.go
  apps/stroltm/testdata/docker-compose.yml
  apps/stroltm/testdata/strolt.yml
  shared/logger/level.go
  shared/logger/logger.go
Due: swagger, strolt/lint, strolt/test, stroltm/lint

feat(stroltm): add api info endpoint
  apps/strolt/internal/api/info.go
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltm/internal/api/api.go
  apps/stroltm/internal/api/config.go
  apps/stroltm/internal/api/info.go
  apps/stroltm/internal/manager/watch.go
  apps/stroltm/internal/manager2/info.go
  apps/stroltm/internal/manager2/manager.go
  apps/stroltm/internal/manager2/watch.go
  apps/stroltm/ui/src/api/index.ts
  apps/stroltm/ui/src/components/LatestVersionLink/index.tsx
  apps/stroltm/ui/src/components/index.ts
  apps/stroltm/ui/src/layouts/Lk/footer.tsx
  apps/stroltm/ui/src/layouts/Lk/index.tsx
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/stores/manager.store.ts
  apps/stroltm/ui/src/stores/root.store.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix(stroltm/ui): update info
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/stores/manager.store.ts
Due: stroltm/ui/prettier

fix(stroltm): manager
  apps/strolt/internal/api/services/snapshots.go
  apps/strolt/internal/task/manager.go
  apps/stroltm/cmd/stroltm/root.go
  apps/stroltm/internal/api/info.go
  apps/stroltm/internal/api/managerh/backup.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/api/managerh/snapshots.go
  apps/stroltm/internal/manager/info.go
  apps/stroltm/internal/manager/manager.go
  apps/stroltm/internal/manager/watch.go
  apps/stroltm/internal/manager2/manager.go
  apps/stroltm/internal/manager2/watch.go
  apps/stroltm/internal/sdk/strolt/strolt.go
  apps/stroltm/ui/src/pages/lk/InstanceList/index.tsx
  apps/stroltm/ui/src/stores/info.store.ts
  apps/stroltm/ui/src/stores/manager.store.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test, stroltm/lint

fix(strolt): api endpoint snapshots
  apps/strolt/internal/api/services/snapshots.go
  apps/stroltm/ui/src/pages/lk/SnapshotList/index.tsx
  apps/stroltm/ui/src/stores/manager.store.ts
Due: swagger, stroltm/ui/prettier, strolt/lint, strolt/test

fix: api errors
  apps/strolt/internal/api/config.go
  apps/strolt/internal/api/services/backup.go
  apps/strolt/internal/api/services/prune.go
  apps/strolt/internal/api/services/snapshots.go
  apps/strolt/internal/api/services/stats.go
  apps/stroltm/internal/api/auth.go
  apps/stroltm/internal/api/managerh/backup.go
  apps/stroltm/internal/api/managerh/prune.go
  apps/stroltm/internal/sdk/strolt/strolt.go
  shared/apiu/apiu.go
Due: swagger, strolt/lint, strolt/test, stroltm/lint

feat(stroltm/ui): add errors visible
  apps/stroltm/ui/src/api/index.ts
Due: stroltm/ui/prettier

feat(strolt): remove unused logic
  apps/strolt/internal/task/controller.go
  apps/strolt/internal/task/error.go
Due: strolt/lint, strolt/test

fix: work with sync.Mutex
  apps/strolt/internal/api/api.go
  apps/strolt/internal/api/metrics.go
  apps/strolt/internal/metrics/operations.go
  apps/strolt/internal/task/manager.go
  apps/strolt/internal/task/notification.go
  apps/strolt/internal/task/task.go
  apps/stroltm/internal/api/managerh/managerh.go
  apps/stroltm/internal/api/managerh/status.go
  apps/stroltm/internal/sdk/strolt/strolt.go
Due: swagger, strolt/lint, strolt/test, stroltm/lint

feat: upgrade deps
  Makefile
  apps/strolt/go.mod
  apps/strolt/go.sum
  apps/stroltm/go.mod
  apps/stroltm/go.sum
  shared/go.mod
  shared/go.sum
Due: none

fix(ci): container version
  .github/workflows/ci-build-strolt.yml
Due: none

fix(stroltm): grab stats
  apps/stroltm/internal/manager/watch.go
Due: strolt/lint, strolt/test, stroltm/lint

fix(strolt): restic restore
  apps/strolt/internal/driver/destination/restic/restore.go
Due: strolt/lint, strolt/test

feat: init CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix(stroltm/ui): dependencies
  apps/stroltm/ui/package.json
  apps/stroltm/ui/yarn.lock
Due: stroltm/ui/prettier

fix: curl version
  docker/strolt/Dockerfile
  docker/stroltm/Dockerfile
Due: none
